:root {
    --text: #1c1917;
    --text-muted: #78716c;

    --bg: #FAFAF9;
    --primary: #ea5800;

    --border: #E7E5E4;
}

/*GENERICS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--bg);
}

.container,main{
    width: auto;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

/* CABECHALHO*/
body > header {
    background-color: #ffffff;
}

header .container,
footer .container {
    display: flex;
    justify-content: space-between;
}

header .brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

header .brand img {
    height: 3rem;
}

header .brand h1 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.05;
    letter-spacing: -0.5px;
}

header .brand p {
    margin-top: 2px;
    font-size: 0.8rem;
    color: var(--text-muted);
}

header .cart-button {
    display: flex;    
    border: 1px solid var(--border);
    width: 2.75rem;
    height: 2.75rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
}

header .cart-button img {
    width: 1.25rem;
    height: 1.25rem;
}

/*MAIN*/
main {
    display: grid;
    gap: 1.5rem;
    padding-block: 1.5rem;
}

main > section{
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: start;
}

main > section > header {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
}

main > section header p {
    color: var(--text-muted);
    font-size: 0.75rem;
}

main > section article {
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;
    border: 1px solid var(--border);
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 8px rgba(36, 33, 31, 7%);
}

section article figure {
    grid-column: 1 / -1;
    position: relative;
}

section article figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

section article figure figcaption {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    background-color: var(--primary);
    color: #fff;
    font-size: 0.75rem;
    text-transform: lowercase;
    padding-block: 0.2rem;
    padding-inline: 0.5rem;
    border-radius: 0.5rem;
}

section article h3, section article p:first-of-type {
    grid-column: 1 / -1;
    padding-inline: 1rem;
}

section article h3 {
    padding-top: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
}

section article p:first-of-type {
    color: var(--text-muted);
    padding-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.3rem;
}

section article p:last-of-type {
    grid-column: 1;
    align-self: center;
    padding-inline: 1rem;
    color:var(--primary);
    padding-block: 1rem;
    font-size: 1.25rem;
    font-weight: 800;
}

section article button {
    background-color: var(--primary);
    color: #fff;
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    grid-column: 2;
    align-self: center;
    margin-right: 1rem;
}

/*FOOTER*/

footer{
    background-color: var(--text-muted);
    color: var(--bg);
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: 2rem;
    padding-block: 1.5rem;
}

/*NAVEGAÇÃO*/
nav {
    background-color: #ffffff;
    border-bottom: 1px solid var(--border);
}

ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-block: 1rem;
}

nav ul a {
    border: 1px solid var(--border);
    border-radius: 1rem;
    padding: 0.5rem 1rem;   
    text-decoration: none;
    color: var(--text-muted);
    font-weight: 500;
    font-size: 0.875rem;
}

nav ul a.active{
    border-color: var(--primary);
    background-color: var(--primary);
    color: #fff;
}

nav ul a:not(.active):hover {
    border-color: var(--primary);
    color: var(--primary);
}